.nomevez{
	display:none;
}
.imagencita{
	border-radius: 8px;
	display: inline;
	float: left;
}
.twitt{
	width: 250px;
	height: 92px;
	max-width: 250px;
	max-height: 92px;
	display: inline;
	float: left;
	text-align:left;
	padding: 4px;
	border-radius: 4px;
	font-size: 14px !important;
	margin-left: 10px;
	overflow: hidden;
	background-color: #555;
	color: #fff;
}
.ui-button-text-only .ui-button-text{
	padding: 2px !important;
	width: 100px;
}
.ui-widget .ui-widget {
	font-size: 12px !important;
}